force-app/main/default/flows/Authentication_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Verification_Code</name>
        <label>Generate Verification Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>generateVerificationCode</actionName>
        <actionType>generateVerificationCode</actionType>
        <connector>
            <targetReference>Send_Verification_Code</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>generateVerificationCode</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Verification_Code</name>
        <label>Send Verification Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Verification_Code</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Email.PersonEmail</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>NexGen OTP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Dear {!Get_Email.FirstName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your OTP is: {!Generate_Verification_Code.verificationCode}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please do  not share with anyone.&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;NexGen&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>No_email</name>
        <label>No email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>verificationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The email you provided does not belong to any account. Please try again</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Verification_Code</name>
        <label>Set Verification Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>verificationCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Verification_Code.verificationCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AuthenticationKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Verification_Code.authenticationKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>verificationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>We have sent 1 time password, please check your email. If it is not in your inbox check spam folder</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Account_Exist</name>
        <label>Account Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Verification_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Authentication Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Authentication Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email</name>
        <label>Get Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AuthenticationKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>verificationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>verificationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
