force-app/main/default/flows/docs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>storeID</name>
        <label>storeID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChecklistId_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.ReceivedDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>storePayslip</name>
        <label>storePayslip</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChecklistId_Payslip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.ReceivedDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>storePOA</name>
        <label>storePOA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varChecklistId_POA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_1.DocumentTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>creates_missing_Items</name>
        <label>creates missing Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>checks_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChecklistId_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_ID_checklist_Item</targetReference>
            </connector>
            <label>checks ID</label>
        </rules>
        <rules>
            <name>checksPayslip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChecklistId_Payslip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Payslip_Checklist_Item</targetReference>
            </connector>
            <label>checksPayslip</label>
        </rules>
        <rules>
            <name>checksPOA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varChecklistId_POA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_POA</targetReference>
            </connector>
            <label>checksPOA</label>
        </rules>
    </decisions>
    <decisions>
        <name>verifyItems</name>
        <label>verifyItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>storeID</targetReference>
            </connector>
            <label>ID</label>
        </rules>
        <rules>
            <name>Payslip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payslip</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>storePayslip</targetReference>
            </connector>
            <label>Payslip</label>
        </rules>
        <rules>
            <name>POA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>proof of address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>storePOA</targetReference>
            </connector>
            <label>POA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>docs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>docs</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>get_checklist_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>verifyItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>creates_missing_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_ID_checklist_Item</name>
        <label>create ID checklist Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varChecklistId_ID</assignRecordIdToReference>
        <inputAssignments>
            <field>DocumentTypeId</field>
            <value>
                <stringValue>Proof of ID</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Proof of ID</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>DocumentChecklistItem</object>
    </recordCreates>
    <recordCreates>
        <name>create_Payslip_Checklist_Item</name>
        <label>create Payslip Checklist Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varChecklistId_Payslip</assignRecordIdToReference>
        <inputAssignments>
            <field>DocumentTypeId</field>
            <value>
                <stringValue>PaySlip</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Payslip</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>DocumentChecklistItem</object>
    </recordCreates>
    <recordCreates>
        <name>create_POA</name>
        <label>create POA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
    </recordCreates>
    <recordLookups>
        <name>get_checklist_Items</name>
        <label>get checklist Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DocumentChecklistItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_checklist_Items</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChecklistId_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChecklistId_Payslip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varChecklistId_POA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
