force-app/main/default/flows/Loan_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Count_Build_Options</name>
        <label>Copy 1 of Count + Build Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicationOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_loop_applications.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicationOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lineBreak</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_loop_applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Multiple_Applications_Message</name>
        <label>Copy 1 of Multiple Applications Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>multipleApplicationsMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_No_applications_message</name>
        <label>Copy 1 of No applications message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>noapplications</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noapplications</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Reset_Counters_Logged_In</name>
        <label>Copy 1 of Reset Counters (Logged In)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicationOptions</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot; &quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_loop_applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_View_Selected_Status</name>
        <label>Copy 1 of View Selected Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedStatusMessageGuest</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_View_Single_Status</name>
        <label>Copy 1 of View Single Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleStatusMessageGuest</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>count</name>
        <label>Count + Build Options</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicationOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_applications.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicationOptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&quot;,&quot;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Multiple_Applications_Message</name>
        <label>Multiple Applications Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>multipleApplicationsMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>No_applications_message</name>
        <label>No applications message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>noapplications</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>noapplications</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>prompt_email</name>
        <label>prompt email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>please provide an email address so that i can check the loan status </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Reset_Counters_Logged_In</name>
        <label>Reset Counters (Logged In)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>applicationOptions</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>View_Selected_Status</name>
        <label>View Selected Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedStatusMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>View_Single_Status</name>
        <label>View Single Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>resultMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>singleStatusMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Application_Name_Provided</name>
        <label>Application Name Provided</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Multiple_Applications_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Name Missing</defaultConnectorLabel>
        <rules>
            <name>Name_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicationName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Selected_Application</targetReference>
            </connector>
            <label>Name Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Logged_in_User</name>
        <label>Check Logged-in User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>email_provided</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Guest User</defaultConnectorLabel>
        <rules>
            <name>Logged_in_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_user.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_contact</targetReference>
            </connector>
            <label>Logged-in User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Number_of_Applications</name>
        <label>Check Number of Applications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>X1_application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Single_Application</targetReference>
            </connector>
            <label>1 application</label>
        </rules>
        <rules>
            <name>Multiple_Applications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Application_Name_Provided</targetReference>
            </connector>
            <label>Multiple Applications</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Application_Name_Provided</name>
        <label>Copy 1 of Application Name Provided</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Multiple_Applications_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Name Missing</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Name_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varApplicationName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Selected_Application</targetReference>
            </connector>
            <label>Copy 1 of Name Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_Number_of_Applications</name>
        <label>Copy 1 of Check Number of Applications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_1_application</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Single_Application</targetReference>
            </connector>
            <label>Copy 1 of 1 application</label>
        </rules>
        <rules>
            <name>Copy_1_of_Multiple_Applications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Application_Name_Provided</targetReference>
            </connector>
            <label>Copy 1 of Multiple Applications</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_How_many_applications</name>
        <label>Copy 1 of How many applications?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Reset_Counters_Logged_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has application</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No_applications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_guest_status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_No_applications_message</targetReference>
            </connector>
            <label>Copy 1 of No applications</label>
        </rules>
    </decisions>
    <decisions>
        <name>email_provided</name>
        <label>email provided</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>prompt_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email is missing</defaultConnectorLabel>
        <rules>
            <name>email_is_provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contact</targetReference>
            </connector>
            <label>email is provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_applications</name>
        <label>How many applications?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Reset_Counters_Logged_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has application</defaultConnectorLabel>
        <rules>
            <name>No_applications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Status</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_applications_message</targetReference>
            </connector>
            <label>No applications</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>lineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>multipleApplicationsMessage</name>
        <dataType>String</dataType>
        <expression>&quot;I found multiple residential loan applications on your account. Please choose one of the following: &quot; &amp;
{!applicationOptions}</expression>
    </formulas>
    <formulas>
        <name>selectedStatusMessage</name>
        <dataType>String</dataType>
        <expression>&quot;The loan application status for &quot; &amp;
{!Get_Selected_Application.Name} &amp;
&quot; is &quot; &amp;
TEXT({!Get_Selected_Application.Status})</expression>
    </formulas>
    <formulas>
        <name>selectedStatusMessageGuest</name>
        <dataType>String</dataType>
        <expression>&quot;The loan application status for &quot; &amp;
{!Copy_1_of_Get_Selected_Application.Name} &amp;
&quot; is &quot; &amp;
TEXT({!Copy_1_of_Get_Selected_Application.Status})</expression>
    </formulas>
    <formulas>
        <name>singleStatusMessage</name>
        <dataType>String</dataType>
        <expression>&quot;The loan application status for &quot; &amp;
{!Get_Single_Application.Name} &amp;
&quot; is &quot; &amp;
TEXT({!Get_Single_Application.Status})</expression>
    </formulas>
    <formulas>
        <name>singleStatusMessageGuest</name>
        <dataType>String</dataType>
        <expression>&quot;The loan application status for &quot; &amp;
{!Copy_1_of_Get_Single_Application.Name} &amp;
&quot; is &quot; &amp;
TEXT({!Copy_1_of_Get_Single_Application.Status})</expression>
    </formulas>
    <interviewLabel>Loan Status {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Loan Status</label>
    <loops>
        <name>Copy_1_of_loop_applications</name>
        <label>Copy 1 of loop applications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_guest_status</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Count_Build_Options</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Check_Number_of_Applications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_applications</name>
        <label>loop applications</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Status</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Number_of_Applications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>contact</name>
        <label>contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Selected_Application</name>
        <label>Copy 1 of Get Selected Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_View_Selected_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Single_Application</name>
        <label>Copy 1 of Get Single Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_View_Single_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Account</name>
        <label>get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_guest_status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PersonEmail</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Accounts</name>
        <label>get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_user.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_guest_status</name>
        <label>Get guest status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_How_many_applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Application</name>
        <label>Get Selected Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>View_Selected_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_user.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varApplicationName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Application</name>
        <label>Get Single Application</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>View_Single_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_user.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ResidentialLoanApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Status</name>
        <label>Get Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>How_many_applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Accounts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>10.0</numberValue>
        </limit>
        <object>ResidentialLoanApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user</name>
        <label>get user</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Logged_in_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_user</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationOptions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>noapplications</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>No applications have been found for this account.</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>resultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>singleApplicationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleApplicationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varApplicationName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
