force-app/main/default/flows/Opportunity_Auto_Cancel_After_CloseDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Close_Date_Overdue_5_Days</name>
        <label>Is Close Date Overdue 5 Days?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Overdue_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CloseDateThreshold</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UPD_Update_Opportunity</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDateThreshold</name>
        <dataType>Date</dataType>
        <expression>$Flow.CurrentDate</expression>
    </formulas>
    <formulas>
        <name>Overdue_5</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate} + 5</expression>
    </formulas>
    <interviewLabel>Opportunity_Auto_Cancel_After_CloseDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_Auto_Cancel_After_CloseDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UPD_Update_Opportunity</name>
        <label>UPD_Update_Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Cancelled_Reason__c</field>
            <value>
                <elementReference>AutoCancelled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cancelled by Customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Close_Date_Overdue_5_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Signed Off – Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Hold / Budget Delay</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled by Customer</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-02-25</startDate>
            <startTime>23:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AutoCancelled</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&quot;Opportunity auto-cancelled by system because Close Date exceeded by 5 days.&quot;</text>
    </textTemplates>
</Flow>
