force-app/main/default/flows/Opportunity_CloseDate_Change_Counter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Increment_Close_Date_Counter</name>
        <label>Increment Close Date Counter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Close_Date_Change_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CloseDateCounter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Date_Changed_2_Times</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Close_Date_Changed_2_Times</name>
        <label>Close Date Changed 2 Times?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Close_Date_Change_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Signed Off – Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold / Budget Delay</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled by Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_to_Cancelled</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CloseDateCounter</name>
        <dataType>Number</dataType>
        <expression>BLANKVALUE($Record.Close_Date_Change_Count__c, 0) + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CountDays</name>
        <dataType>Number</dataType>
        <expression>{!$Record__Prior.Close_Date_Change_Count__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Opportunity_CloseDate_Change_Counter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_CloseDate_Change_Counter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Stage_to_Cancelled</name>
        <label>Update Stage to Cancelled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Cancelled_Reason__c</field>
            <value>
                <elementReference>AutoCancelled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cancelled by Customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Increment_Close_Date_Counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CloseDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AutoCancelled</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Auto Cancel Opportunity - Close Date Changed 2 Times</text>
    </textTemplates>
</Flow>
