force-app/main/default/flows/Upload_Shandis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Copy_1_of_Create_content_Document_Link</name>
        <label>Copy 1 of Create content Document Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singlecontentdoclink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlecontentdoclink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddressEntity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentdoclinkcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singlecontentdoclink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAddress</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Create_content_Document_Link</name>
        <label>Copy 2 of Create content Document Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singlecontentdoclink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_payslip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlecontentdoclink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>payslipEntity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentdoclinkcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singlecontentdoclink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_payslip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_content_Document_Link</name>
        <label>Create content Document Link</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>singlecontentdoclink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopthrough_files</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>singlecontentdoclink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdEntity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentdoclinkcollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singlecontentdoclink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopthrough_files</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ids</name>
        <dataType>Number</dataType>
        <expression>LEN({!ContentDocumentIds})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Uploa Shandis {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Upload Shandis</label>
    <loops>
        <name>Loop_payslip</name>
        <label>Loop payslip</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_payslip</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Payslip</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_doc_links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopAddress</name>
        <label>loopAddress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Address</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_payslip</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopthrough_files</name>
        <label>loopthrough files</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_Id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopAddress</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Address</name>
        <label>Create Address</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>AddressEntity</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Create_content_Document_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>DocumentTypeId</field>
            <value>
                <stringValue>0ded3000000nBIV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Proof of Address</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>DocumentChecklistItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_doc_links</name>
        <label>Create doc links</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>contentdoclinkcollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Id</name>
        <label>Create Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>IdEntity</assignRecordIdToReference>
        <connector>
            <targetReference>Create_content_Document_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>DocumentTypeId</field>
            <value>
                <stringValue>0ded3000000pAN7</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Identity Document</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>DocumentChecklistItem</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Payslip</name>
        <label>Create Payslip</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>payslipEntity</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_2_of_Create_content_Document_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>DocumentTypeId</field>
            <value>
                <stringValue>0ded3000000l0mBAAQ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Payslip</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>DocumentChecklistItem</object>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Upload_Docs</name>
        <label>Upload Docs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loopthrough_files</targetReference>
        </connector>
        <fields>
            <name>id2</name>
            <extensionName>forceContent:fileUploadEnhanced</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Id Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_Id</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>addres</name>
            <extensionName>forceContent:fileUploadEnhanced</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Proof Of Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_address</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>slip</name>
            <extensionName>forceContent:fileUploadEnhanced</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Payslip</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_payslip</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Upload_Docs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentdoclinkcollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newChecklistItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newIdEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>payslipEntity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singlecontentdoclink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>var_address</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_Id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_payslip</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
